<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>711588103735-3loe6rnnd8h35stdjuq6t3hg3p9akt9g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.711588103735-3loe6rnnd8h35stdjuq6t3hg3p9akt9g</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>711588103735-na7tpl6rnmmpmirhni4g8gaq0gu5bcns.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBZMmDW1oSdOn-XwZtTkTPvzcMG2ryuszI</string>
	<key>GCM_SENDER_ID</key>
	<string>711588103735</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.languageTranslate.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>translate-language-c5064</string>
	<key>STORAGE_BUCKET</key>
	<string>translate-language-c5064.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:711588103735:ios:9e62f30e5b7bceb70621b2</string>
</dict>
</plist>